.App {
  text-align: center;
  background-color: rgb(255, 246, 234);
  height: auto;
}
.header{
  color: aquamarine;
  background-color: black;
  padding: 1vw;
}
input{
  color: grey;
  border-radius: 0.3vw;
  margin-top: 1vw;
  width: 25vw;
  padding: 0.75vw;
  font-size: 1vw;
}
button{
  color: aliceblue;
  background-color: green;
  border-radius: 0.3vw;
  padding: 1vw;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1vw;
  box-shadow: 0.2vw 0.2vw 0.4vw 0 black;
}
.box{
  margin-left: 41%;
  padding: 1vw;
  width: 15vw;
  height: auto;
  background-image: linear-gradient(to right,grey,aqua);
  border-radius: 0.5vw;
  box-shadow: 0.2vw 0.2vw 0.4vw 0 black;
}